{% extends 'base.html' %}
{% set active_page = "Shop" %}

{% block head %}
<title>Index</title>
{% endblock %}

<script>
{% block headscript %}
$(document).ready(function(){
	$(".add-to-cart").click(function(e) {
		e.preventDefault()
		e.stopPropagation()

		item_id = this.value
		$.post({url:"{{ url_for('cart.add_to_cart_ajax') }}"
			,data: {"quantity":$(`#item-quantity`).val(),"prev":"{{ url_for('Store.itempage',id=item.id) }}","id":item_id},
			success: function(result){
					if (result.success) {
						console.log($("#cart_badge").html())
						$("#cart_badge").html(result.cart_length)
						flash(result.msg,"success")
					} else {
						if (result.redir) {
							window.location = result.redir
						}
					}
				}
			})
	})
})
{% endblock %}
</script>

{% block main %}
<div class="container">
	<div>
		<h6 class="my-3	"><a href="{{ url_for('Store.displayitem') }}" class="text-body">
			<i class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a>
		</h6>
	</div>
	<div class="row mb-5">
		<div class="col-xl-6 col-lg-12">
			<img src="{{ url_for('static', filename='items/' + item.images[0] )}}" alt=""
				class="rounded d-block mt-2 ms-2 img-fluid img-thumbnail">
		</div>
		<div class="col-xl-6 col-lg-12 position-relative">
            <div class="mt-3 ms-3">
                <h1>{{ item.name }}</h1>
                <h4>{{ item.description }}</h4>
                <p>{{ "$%.2f"|format(item.price) }}</p>
            </div>
			<form action="{{ url_for('cart.add_to_cart',id=item.id) }}" method="post" class="position-absolute bottom-50 w-100">
				<div class="row justify-content-end">
					<div class="col-1 text-center px-0">
						<button class="btn" type="button"><i class="fa-solid fa-minus" onclick="(function(){document.querySelector('#item-quantity').stepDown();})()"></i></button>
					</div>
					<div class="col-2 text-center">
						<input type="number" readonly class="float-end form-control w-100" min="1" max="99" value="1" name="quantity" id="item-quantity">		
					</div>
					<div class="col-1 text-center px-0">
						<button class="btn" type="button" onclick="(function() { document.querySelector('#item-quantity').stepUp(); document.querySelector('#item-quantity').stepUp() })()"><i class="fa-solid fa-plus"></i></button>
					</div>
					
				</div>
				<div class="row justify-content-end mt-1">
					<div class="col-4 px-0">
						<button type="submit" class="btn btn-primary float-end w-100 px-0 add-to-cart" value="{{ item.id }}">Add To Cart</button>
					</div>		
				</div>
			</form>
		</div>
	</div>
	<div>
	</div>


</div>
{% endblock %}
