{% extends 'base.html' %}
{% set active_page = "AddItem" %}

{% block head %}
<title>Add Item</title>

<link rel="stylesheet" href="{{url_for('static', filename='css/profile-pic-change.css')}}">
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h3>Update {{ item.name }}</h3>
    <form class="row" action="#" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-12">
                    <img src="{{ url_for('static', filename='items/' + item.images[0]) }}" class="img-fluid img-thumbnail" id="item-image">
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    {{ form.image.label(class="custom-file-upload btn-primary btn mt-2") }}
                    {{ form.image(class="btn btn-primary", onchange="uploadFile(event)", accept=".png, .jpg, .jpeg")}}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row g-3">
                <div class="form-floating col-md-12">
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ form.name.label }}
                    </div>

                    <div class="form-floating col-md-12">
                        {% if form.quantity.errors %}
                            {{ form.quantity(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in form.quantity.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.quantity(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ form.quantity.label }}
                    </div>

                    <div class="form-floating col-md-12">
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ form.price.label }}
                    </div>

                    <div class="form-floating col-md-12">
                        {% if form.description.errors %}
                            {{ form.description(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ form.description.label }}
                        
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary float-end">Update Item</button>
                    </div>
            </div>
            
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  var uploadFile = function(event) {
    var imagePreview = document.getElementById('item-image');
    imagePreview.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
{% endblock %}