<div class="d-flex flex-column h-100">

    <!-- FOOTER -->
    <footer class="w-100 py-2 flex-shrink-0 bg-dark">
        <div class="container py-2">
            <div class="row gy-4 gx-5 justify-content-center">
                <div class="col-lg-4 col-md-6 py-2">
                    <h5 class="h1 text-white pb-2">KH Wares</h5>
                    <p class="small text-white">Supplying your kitchen needs</p>
                </div>
                <div class="col-lg-2 col-md-6 py-1">
                    <h4 class="text-white mb-1">Quick links</h4>
                    <ul class="list-unstyled text-muted">
                        <li><a href="{{ url_for('index.index') }}" class="link-light" style="text-decoration: None">Home</a></li>
                        <li><a href="{{ url_for('Store.displayitem') }}" class="link-light" style="text-decoration: None">Shop</a></li>
                        <li><a href="" class="link-light" style="text-decoration: None">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
