<!-- Darwin's Stuff -->
{% extends 'base.html' %}
{% set active_page = "forgotPassword" %}

{% block head %}
<title>{{ title if title else "NavBar Page"}}</title>
{% endblock %}

<script>
{% block headscript %}
$(document).ready(function(){
    $("#forgot-password-button").click(function() {
        console.log("FORM SUBMIT")
        $('#forgot-password-spinner').removeClass('d-none');
        $('#forgot-password-spinner').addClass('d-inline-block');
        $('#forgot-password-button').addClass('disabled'); console.log('submit')
    })
})
{% endblock %}
</script>
{% block main %}
<div class="container justify-content-center min-vh-100 d-flex align-items-center">
    <div class="container w-auto" style="margin-bottom:300px">
        <div class="row justify-content-center">
            <form action="#" method="post" class="col-md-6 shadow-lg rounded p-5" style="min-width:400px" novalidate onsubmit="console.log('FORM SUBMIT')">
                <img src="{{ url_for('static',filename='Logo.png') }}" alt="" width="200">
                {{ form.hidden_tag() }}
                <fieldset class="form-group row g-3">
                    <legend>Forgot Password</legend>
                    <span>Enter the email you signed up with.<br>A password reset email will be sent.</span>
                    <div class="form-floating col-md-12">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ form.email.label }}
                    </div>
                </fieldset>

                <fieldset class="row mt-3 justify-content-end g-3">
                    <div class="col">
                        <button type="submit" class="btn btn-primary float-end align-items-center d-flex" id="forgot-password-button">
                            <span>Change Password</span>
                            <span class="spinner-border text-light spinner-border-sm d-none ms-1" id="forgot-password-spinner" role="status"></span>
                            </button>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


{% endblock %}
