<!-- Darwin's Stuff -->
{% extends 'base.html' %}
{% set active_page = "admin" %}
{% set subpage = "users" %}

{% block head %}
<title>Manage Users</title>
{% endblock %}

{% block main %}
{% if user_list %}
<div class="container">
<h1 class="text-center">Manage Users</h1>
<table class="text-center table table-striped">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
    {% for target in user_list %}
        <tr>
            <td>{{target[0].id}}</td>
            <td>{{target[0].f_name}}</td>
            <td>{{target[0].l_name}}</td>
            <td>{{target[0].username}}</td>
            <td>{{ target[0].email }}</td>
            <td>{{target[0].get_role_str()}}</td>
            <td>
                <a class="btn btn-warning {{ 'disabled' if (target[0].role > current_user.role) else '' }}" role="button" href="{{url_for('crud.update')}}?id={{target[0].id}}">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-danger {{ 'disabled' if ((target[0].id == current_user.id) or (target[0].role > current_user.role)) else '' }}" data-bs-toggle="modal" data-bs-target="#AdminUserDelete_{{ target[0].id }}">
                    <i class="fa-trash fa"></i>
                </button>
            </td>
        </tr>
    {% endfor %}

<tr>
    <td colspan="8">
        <a class="btn btn-success" role="button" href="{{url_for('admin.admin_create_account')}}"><i class="fa fa-plus"></i> Create Account</a>
    </td>
</tr>
</table>
</div>
{% for target in user_list %}
    <div class="modal fade" id="AdminUserDelete_{{ target[0].id }}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <form action="{{url_for('admin.admin_user_delete')}}" method="get" class="modal-content" novalidate>
            <input type="hidden" value="{{target[0].id}}" name="id">
            <div class="modal-header">
                <h5 class="modal-title" id="AdminUserDelete_{{ target[0].id }}_label">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body container-fluid">
                <span>Are you sure you want to delete user {{target[0].username}}</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete User</button>
            </div>
        </form>
    </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}
