{% extends 'base.html' %}
{% set active_page = "admin" %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block main %}
<h1 class="text-center">Users</h1>
<table class="text-center table">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Role</th>
    <th>Update</th>
  </tr>
{% if user_list %}
    {% for target in user_list %}
        <tr>
            <td>{{target[0].id}}</td>
            <td>{{target[0].username}}</td>
            <td>{{target[0].get_role_str()}}</td>
            <td>
                <a class="btn btn-primary" role="button" href="{{url_for('crud.update')}}?id={{target[0].id}}">Update</a>
            </td>
        </tr>
    {% endfor %}
{% endif %}
<tr>
    <td colspan="4">
        <a class="btn btn-primary" role="button" href="{{url_for('admin.admin_create_account')}}">Create Account</a>
    </td>
</tr>
</table>
Number Users: {{ stats.get_num_users()}}
Number Admins: {{ stats.get_num_admins() }}
{% endblock %}
