{% extends 'base.html' %}
{% set active_page = "index" %}

{% block head %}
<title>Index</title>
{% endblock %}

{% block main %}
<div id="carouselProducts" class="carousel slide container-fluid p-0" data-bs-touch="false" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselProducts" data-bs-slide-to="0" class="active"></button>
		<button type="button" data-bs-target="#carouselProducts" data-bs-slide-to="1"></button>
		<button type="button" data-bs-target="#carouselProducts" data-bs-slide-to="2"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active position-relative" data-bs-interval="5000">
			<img src="{{ url_for('static', filename='HomeCarousel/img1.jpg') }}" alt="Image Placeholder" class="d-block w-100" style="max-height: 640px;">
			<div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.5);"></div>
			<div class="position-absolute top-50 start-50 text-light translate-middle text-center">
				<h1 style="font-size: 50px;">KH Wares</h1>
				<h3>Epitome of quality and durability</h3>
			</div>
			<div class="carousel-caption">
				<a href="{{ url_for('Store.displayitem') }}" class="btn btn-secondary	" style="width: max-content;">SHOP NOW!</a>
			</div>
		</div>
		<div class="carousel-item position-relative" data-bs-interval="5000">
			<img src="{{ url_for('static', filename='HomeCarousel/img2.jpg') }}" alt="Image Placeholder" class="d-block w-100" style="max-height: 640px">
			<div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.5);"></div>
			<div class="position-absolute top-50 start-50 text-light translate-middle text-center">
				<h1 style="font-size: 50px;">KH Wares</h1>
				<h3>Over 50 years of quality</h3>
			</div>
			<div class="carousel-caption">
				<a href="{{ url_for('Store.displayitem') }}" class="btn btn-secondary	" style="width: max-content;">SHOP NOW!</a>
			</div>
		</div>
		<div class="carousel-item position-relative" data-bs-interval="5000">
			<img src="{{ url_for('static', filename='HomeCarousel/img3.jpg') }}" alt="Image Placeholder" class="d-block w-100" style="max-height: 640px">
			<div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.5);"></div>
			<div class="position-absolute top-50 start-50 text-light translate-middle text-center">
				<h1 style="font-size: 50px;">KH Wares</h1>
				<h3>Bringing the ease to cooking</h3>
			</div>
			<div class="carousel-caption">
				<a href="{{ url_for('Store.displayitem') }}" class="btn btn-secondary	" style="width: max-content;">SHOP NOW!</a>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselProducts" data-bs-slide="prev">
		<span class="carousel-control-prev-icon"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselProducts" data-bs-slide="next">
		<span class="carousel-control-next-icon"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<div class="container my-5">
	<div class="row">
		<div class="col-md-12 col-lg-6 ">
			<img src="{{ url_for('static', filename='HomeCarousel/AboutUs.jpg') }}" class="img-fluid">
		</div>
		<div class="col-md-12 col-lg-6 py-2">
			<h3>About Us</h3>
	        <p>KH Wares offers you high-quality and innovative products to enhance your cooking and baking experience. Our company is dedicated to providing you with practical and stylish kitchen tools that make meal preparation easier, more enjoyable, and more efficient. Our products are made from premium materials that are durable, safe, and long-lasting. They are also designed with ergonomics in mind, ensuring a comfortable and effortless use. Whether you are a seasoned cook or a beginner, our kitchenware products are the perfect addition to your kitchen. Get ready to be inspired and experience the joy of cooking and baking like never before!</p>
		</div>
	</div>
</div>
{% endblock %}
