{% extends 'base.html' %}
{% set active_page = "update" %}

{% block head %}
<title>Update Page</title>

{% endblock %}

{% block main %}

<div class="container">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeNameForm">
        Update Profile
    </button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePassForm">
        Change Password
    </button>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeEmailForm">
        Change Email
    </button>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#changeDeleteForm">
        Delete Account
    </button>

</div>

<div class="modal fade" id="changeNameForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <form action="#" method="post" class="modal-content" novalidate>
            <div class="modal-header">
                <h5 class="modal-title" id="changeNameFormLabel">Update Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body container-fluid">
                {{ update_name_form.hidden_tag()}}
                <div class="row g-3">
                    <div class="form-floating col-md-6">
                        {% if update_name_form.new_f_name.errors %}
                            {{ update_name_form.new_f_name(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in update_name_form.new_f_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ update_name_form.new_f_name(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ update_name_form.new_f_name.label }}
                    </div>
                    <div class="form-floating col-md-6">
                        {% if update_name_form.new_l_name.errors %}
                            {{ update_name_form.new_l_name(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in update_name_form.new_l_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ update_name_form.new_l_name(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ update_name_form.new_l_name.label }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ update_name_form.submit(class="btn btn-primary float-end") }}
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="changePassForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <form action="#" method="post" class="modal-content" novalidate>
            <div class="modal-header">
                <h5 class="modal-title" id="changePassFormLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body container-fluid">
                {{ update_pass_form.hidden_tag()}}
                <div class="row g-3">
                    {% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
                        <div class="form-floating col-md-12">
                            {% if update_pass_form.current_password.errors %}
                                {{ update_pass_form.current_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_pass_form.current_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_pass_form.current_password(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_pass_form.current_password.label }}
                        </div>
                    {% endif %}
                    <div class="form-floating col-md-12">
                        {% if update_pass_form.new_password.errors %}
                            {{ update_pass_form.new_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in update_pass_form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ update_pass_form.new_password(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ update_pass_form.new_password.label }}
                    </div>

                    <div class="form-floating col-md-12">
                        {% if update_pass_form.confirm_new_password.errors %}
                            {{ update_pass_form.confirm_new_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in update_pass_form.confirm_new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ update_pass_form.confirm_new_password(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ update_pass_form.confirm_new_password.label }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ update_pass_form.submit(class="btn btn-primary float-end") }}
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="changeEmailForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <form action="#" method="post" class="modal-content" novalidate>
            <div class="modal-header">
                <h5 class="modal-title" id="changeEmailFormLabel">Update Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body container-fluid">
                {{ update_email_form.hidden_tag()}}
                <div class="row g-3">
                    {% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
                        <div class="form-floating col-md-12">
                            {% if update_email_form.current_password.errors %}
                                {{ update_email_form.current_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_email_form.current_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_email_form.current_password(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_email_form.current_password.label }}
                        </div>
                    {% endif %}
                    <div class="form-floating col-md-12">
                        {% if update_email_form.new_email.errors %}
                            {{ update_email_form.new_email(class="form-control form-control-lg is-invalid",placeholder="a") }}
                            <div class="invalid-feedback">
                                {% for error in update_email_form.new_email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ update_email_form.new_email(class="form-control form-control-lg",placeholder="a") }}
                        {% endif %}
                        {{ update_email_form.new_email.label }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ update_email_form.submit(class="btn btn-primary float-end") }}
            </div>
        </form>
    </div>
</div>


<div class="modal fade" id="changeDeleteForm" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <form action="#" method="post" class="modal-content" novalidate>
            <div class="modal-header">
                <h5 class="modal-title" id="changeDeleteFormLabel">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body container-fluid">
                {{ update_delete_form.hidden_tag()}}
                <div class="row g-3">
                    {% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
                        <div class="form-floating col-md-12">
                            {% if update_delete_form.current_password.errors %}
                                {{ update_delete_form.current_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_delete_form.current_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_delete_form.current_password(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_delete_form.current_password.label }}
                        </div>
                    {% else %}
                        <span>Are you sure you want to delete {{target_user.username}}?</span>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {{ update_delete_form.submit(class="btn btn-danger float-end") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
