<!-- Darwin's Stuff -->
{% extends 'base.html' %}
{% if current_user.authenticated and current_user.role > 0 %}
    {% set active_page = "admin" %}
    {% set subpage = "update" %}
{% else %}
    {% set active_page = "update" %}
{% endif %}

{% block head %}
    <title>Update Page</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/profile-pic-change.css')}}">
{% endblock %}

<script>
{% block headscript %}
$(document).ready(function(){
{% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}

    $("#changePassButton").click(function(){
    $('.loadingDiv').removeClass("d-none");
    $.post({url: "{{ url_for('crud.request_password_reset') }}",
        success: function(result){
        $("#changePassForm").modal('show')
        console.log(result);
        $('.loadingDiv').addClass("d-none");
        },
        error: function(result){
            $("#flashes").append(`<div class="alert alert-danger alert-dismissible" role="alert">
                An Error Has Occurred. Please Try Again
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`)
            console.log("FAIL");
            $('.loadingDiv').addClass("d-none");
        }
    });
    });

{% endif %}
{% if ((current_user.role >= 2) and (not update_self)) %}
    $("#changeRoleSubmitButton").click(function(e){
        e.preventDefault()
        console.log($("#target_user_id").val())
        $.post({url:"{{ url_for('crud.update_role') }}"
            ,data: $('#changeRoleFormInner').serialize(),
            success: function(result){
                if (result.success) {
                    $("#changeRoleForm").modal('hide')
                    flash(result.msg, "success")
                    $("#roletext").html(result.role)
                    console.log(result);
                } else {
                    $("#changeRoleForm").modal('hide')
                    flash(result.msg, "error")
                    console.log(result);
                }
            }
        });
    });
{% endif %}

// AJAX Update Helpers
function add_error(parent,field_id,errors) {    
    $(`#${parent} #${field_id}`).removeClass("is-invalid")
    $(`#${parent} div.form-floating:has(#${field_id})`).children(".invalid-feedback").remove()

    if (errors.length > 0) {
        $(`#${parent} #${field_id}`).addClass("is-invalid")
        for (i=0; i < errors.length; i++) {
            node = document.createElement("div")
            node.classList.add("invalid-feedback")
            node.innerHTML = errors[i]
            document.querySelector(`#${parent} div.form-floating:has(#${field_id})`).appendChild(node)
        }
    } 
}

function clear_errors(parent,field_id) {
    $(`#${parent} #${field_id}`).removeClass("is-invalid")
    $(`#${parent} div.form-floating:has(#${field_id})`).children(".invalid-feedback").remove()
}

function update_user_data(id) {
    $.post({url:`/admin/get_user/${id}/`, 
            success: function(result) {
                if (result.success) {
                    $("#nametext").html(`${result.data.f_name} ${result.data.l_name}`)
                    $("#roletext").html(`${result.data.role}`)
                    $("#emailtext").html(`${result.data.email}`)
                    return (result.data);
                } else {
                    flash(result.msg,"error")
                    return result
                }
            }
    });
}

// Change Name AJAX
    $("#changeNameFormSubmitButton").click(function(e){
        e.preventDefault()
        console.log($("#target_user_id").val())
        $.post({url:"{{ url_for('crud.update_name') }}"
            ,data: $('#changeNameFormInner').serialize(),
            success: function(result){
                if (result.success) {
                    for (i=0; i < result.fields.length; i++) {
                        clear_errors("changeNameForm",result.fields[i])
                    }                    
                    $("#changeNameForm").modal('hide')
                    flash(result.msg,"success")
                    update_user_data({{ target_user.id }})
                } else {
                    if (result.err_list) {
                        for (field in result.err_list) {
                            add_error("changeNameForm",field,result.err_list[field])
                        }
                    } else {
                        $("#changeNameForm").modal('hide')
                        flash(result.msg, "error")
                    }
                }
            }
        });
    });

// Delete Account AJAX
$("#changeDeleteFormSubmitButton").click(function(e){
        e.preventDefault()
        console.log("AJAX DELETE")
        console.log($("#target_user_id").val())
        $.post({url:"{{ url_for('crud.ajax_delete') }}"
            ,data: $('#changeDeleteFormInner').serialize(),
            success: function(result){
                if (result.success) {
                    window.location = result.destination;
                } else {
                    if (result.err_list) {
                        for (field in result.err_list) {
                            add_error("changeDeleteForm",field,result.err_list[field])
                        }
                        $(`#changeDeleteForm #current_password`).val("")
                    } else {
                        $("#changeDeleteForm").modal('hide')
                        flash(result.msg, "error")
                    }
                }
            }
        });
    })


});
{% endblock %}
</script>

{% block main %}

<div class="container {{ 'mt-5' if not (current_user.is_authenticated and current_user.role > 0) else ''}}">
    <div class="row justify-content-center">
        {% if current_user.is_authenticated and current_user.role > 0 %}
            <div class="col-12 mb-3 mt-3"><a href="{{ url_for('admin.admin') }}" class="btn btn-secondary">< Back To User List</a></div>
        {% endif %}
        <div class="col-md-12 col-xxl-2 container-fluid">
            <div class="hovereffect" style="height:200px; width:200px;">
                <img src="{{ url_for('static', filename='profiles/' + target_user.profile_pic) }}" width="200" height="200" class="rounded-circle img-responsive">
                <button type="button" class="info rounded-circle" href="#" style="height:200px; width:200px;" data-bs-toggle="modal" data-bs-target="#changeImageForm">Change Picture</button>
            </div>
        </div>
        <div class="col-md-12 col-xxl-10 container-fluid">
            <div class="row-justify-content-start mb-5">
                <h1 class="d-inline" id="nametext">{{ target_user.f_name }} {{ target_user.l_name }}</h1>
                <h4 class="d-inline ms-4" id="usernametext">Aka. {{ target_user.username }}</h4>
                <h5 id="roletext"> {{target_user.get_role_str() }}</h5>
                <h6 id="emailtext"> {{target_user.email }}</h6>
            </div>
            <div class="row justify-content-start gx-2 mt-5">
                <button type="button" class="btn btn-primary col-xl-2 col-md-12 m-2" data-bs-toggle="modal" data-bs-target="#changeNameForm">
                    Update Profile
                </button>

                {% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
                    <button type="button" id="changePassButton" class="btn btn-primary col-xl-2 col-md-12 m-2">
                        Change Password
                    </button>
                {% else %}
                    <button type="button" id="changePassButton" class="btn btn-primary col-xl-2 col-md-12 m-2" data-bs-toggle="modal" data-bs-target="#changePassForm">
                        Change Password
                    </button>
                {% endif %}

                <button type="button" class="btn btn-primary col-xl-2 col-md-12 m-2" data-bs-toggle="modal" data-bs-target="#changeEmailForm">
                    Change Email
                </button>

                {% if ((current_user.role >= 2) and (not update_self)) %}
                    <button type="button" id="changeRoleButton" class="btn btn-warning col-xl-2 col-md-12 m-2" data-bs-toggle="modal" data-bs-target="#changeRoleForm">
                        Change Role
                    </button>
                {% endif %}

                <button type="button" class="btn btn-danger col-xl-2 col-md-12 m-2" data-bs-toggle="modal" data-bs-target="#changeDeleteForm">
                    Delete Account
                </button>


                </div>

            </div>

        </div>
    </div>

</div>


</div>

<div class="container-fluid">
    <div class="modal fade" id="changeNameForm" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form action="#" method="post" class="modal-content" id="changeNameFormInner" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="changeNameFormLabel">Update Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body container-fluid">
                    {{ update_name_form.hidden_tag()}}
                    <div class="row g-3">
                        <div class="form-floating col-md-6">
                            {% if update_name_form.new_f_name.errors %}
                                {{ update_name_form.new_f_name(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_name_form.new_f_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_name_form.new_f_name(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_name_form.new_f_name.label }}
                        </div>
                        <div class="form-floating col-md-6">
                            {% if update_name_form.new_l_name.errors %}
                                {{ update_name_form.new_l_name(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_name_form.new_l_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_name_form.new_l_name(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_name_form.new_l_name.label }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ update_name_form.submit(class="btn btn-primary float-end", id="changeNameFormSubmitButton") }}
                </div>
            </form>
        </div>
    </div>

    {% if ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
        <div class="modal fade" id="changePassForm" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form action="#" method="post" class="modal-content" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="changePassFormLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body container-fluid">
                    {{ update_pass_form.hidden_tag()}}
                    <div class="row g-3">
                        {% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
                            <div class="form-floating col-md-12">
                                {% if update_pass_form.current_password.errors %}
                                    {{ update_pass_form.current_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                    <div class="invalid-feedback">
                                        {% for error in update_pass_form.current_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ update_pass_form.current_password(class="form-control form-control-lg",placeholder="a") }}
                                {% endif %}
                                {{ update_pass_form.current_password.label }}
                            </div>
                        {% endif %}
                        <div class="form-floating col-md-12">
                            {% if update_pass_form.new_password.errors %}
                                {{ update_pass_form.new_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_pass_form.new_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_pass_form.new_password(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_pass_form.new_password.label }}
                        </div>

                        <div class="form-floating col-md-12">
                            {% if update_pass_form.confirm_new_password.errors %}
                                {{ update_pass_form.confirm_new_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_pass_form.confirm_new_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_pass_form.confirm_new_password(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_pass_form.confirm_new_password.label }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ update_pass_form.submit(class="btn btn-primary float-end") }}
                </div>
            </form>
        </div>
    </div>
    {% else %}
        <div class="modal fade" id="changePassForm" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePassFormLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body container-fluid">
                    A Reset Link Has Been Sent to your email.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="modal fade" id="changeEmailForm" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form action="#" method="post" class="modal-content" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="changeEmailFormLabel">Update Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body container-fluid">
                    {{ update_email_form.hidden_tag()}}
                    <div class="row g-3">
                        {% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
                            <div class="form-floating col-md-12">
                                {% if update_email_form.current_password.errors %}
                                    {{ update_email_form.current_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                    <div class="invalid-feedback">
                                        {% for error in update_email_form.current_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ update_email_form.current_password(class="form-control form-control-lg",placeholder="a") }}
                                {% endif %}
                                {{ update_email_form.current_password.label }}
                            </div>
                        {% endif %}
                        <div class="form-floating col-md-12">
                            {% if update_email_form.new_email.errors %}
                                {{ update_email_form.new_email(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                <div class="invalid-feedback">
                                    {% for error in update_email_form.new_email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ update_email_form.new_email(class="form-control form-control-lg",placeholder="a") }}
                            {% endif %}
                            {{ update_email_form.new_email.label }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ update_email_form.submit(class="btn btn-primary float-end") }}
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="changeDeleteForm" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form action="#" method="post" class="modal-content" id="changeDeleteFormInner" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="changeDeleteFormLabel">Delete Account</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body container-fluid">
                    {{ update_delete_form.hidden_tag()}}
                    <div class="row g-3">
                        {% if not ((current_user.role > target_user.role or current_user.role >= 2) and (not update_self)) %}
                            <span>Are you sure you want to delete your account?</span>
                            <span>Enter Your Password to Delete</span>
                            <div class="form-floating col-md-12">
                                {% if update_delete_form.current_password.errors %}
                                    {{ update_delete_form.current_password(class="form-control form-control-lg is-invalid",placeholder="a") }}
                                    <div class="invalid-feedback">
                                        {% for error in update_delete_form.current_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ update_delete_form.current_password(class="form-control form-control-lg",placeholder="a") }}
                                {% endif %}
                                {{ update_delete_form.current_password.label }}
                            </div>
                        {% else %}
                            <span>Are you sure you want to delete {{target_user.username}}?</span>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ update_delete_form.submit(class="btn btn-danger float-end",id="changeDeleteFormSubmitButton") }}
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="changeImageForm" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <form action="#" method="post" class="modal-content" enctype="multipart/form-data" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="changeImageFormLabel">Change Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body container-fluid">
                    {{ update_image_form.hidden_tag()}}
                    <div class="row justify-content-center g-3">
                        <img id="imagePreview" src="{{ url_for('static', filename='profiles/default.png') }}" style="height:300px; width:300px !important;" class="text-center rounded-circle"/>
                        {{ update_image_form.image.label(class="custom-file-upload btn-primary btn") }}
                        {{ update_image_form.image(class="btn btn-primary", onchange="uploadFile(event)", accept=".png, .jpg, .jpeg")}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning" data-bs-dismiss="modal" value="noImage" name="RemoveImage">Remove Image</button>
                    {{ update_image_form.submit(class="btn btn-primary float-end") }}

                </div>
            </form>
        </div>
    </div>

    {% if ((current_user.role >= 2) and (not update_self)) %}
        <div class="modal fade" id="changeRoleForm" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <form method="post" class="modal-content" id="changeRoleFormInner" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeRoleFormLabel">Change Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body container-fluid">
                        {{ update_role_form.hidden_tag()}}
                        <div class="row g-3">
                            <div class="form-floating col-md-12">
                                {% if update_role_form.role.errors %}
                                    {{ update_role_form.role(class="form-control form-control-lg is-invalid",placeholder="a",id="role") }}
                                    <div class="invalid-feedback">
                                        {% for error in update_role_form.role.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ update_role_form.role(class="form-control form-control-lg",placeholder="a",id="role") }}
                                {% endif %}
                                {{ update_role_form.role.label }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="changeRoleSubmitButton">Change Role</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>



{% endblock %}

{% block scripts %}
<script>
  var uploadFile = function(event) {
    var imagePreview = document.getElementById('imagePreview');
    imagePreview.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
{% endblock %}
