{% extends 'base.html' %}
{% set active_page = "cart" %}

{% block head %}
<title>Cart</title>
{% endblock %}

{% block main %}

<table class="text-center table">
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Price ($SGD)</th>
            <th>Quantity</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Total Cost ($SGD)</th>
        </tr>
            {% for i in cart %}
        <tr>
            <td></td>
            <td>{{ i.item.name }}</td>
            <td>{{ "$%.2f"|format(i.item.price) }}</td>
            <td>{{ i.quantity }}</td>
            <td>
                <div class="container">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#update_confirmation_{{ i.id }}">
                        <i class="fa fa-edit" style="font-size:20px"></i>
                    </button>
                </div>
            </td>
            <td>
                <div class="container">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_confirmation_{{ i.id }}">
                        <i class="fa fa-trash-o" style="font-size:20px"></i>
                    </button>
                </div>
            </td>
            <td>{{ "$%.2f"|format(i.item.price*i.quantity) }}</td>
        </tr>

        <!-- using bootstrap modal to update quantity after clicking the update button -->

        <div class="modal fade" id="update_confirmation_{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="update_quantity_label_{{ i.id }}">Update Quantity</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Change quantity of {{ i.item.name }}
                    </div>
                    <form action="{{ url_for('cart.update_qty',id=i.id) }}" method="POST">
                        <input type="number" name="quantity" id="">
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-warning" href="{{ url_for('cart.update_qty',id=i.id) }}">Update</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- using bootstrap modal for the confirmation after clicking the delete button -->

        <div class="modal fade" id="delete_confirmation_{{ i.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete_confirmation_label_{{ i.id }}">Deleting Item from Cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete {{ i.item.name }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-danger" href="{{ url_for('cart.delete_item',id=i.id) }}">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
</table>
<div style="padding: 10px 50px">
    <a type="button" class="btn btn-primary" href="{{ url_for('index.index') }}" style="padding:10px 40px;margin-right:30px"><-- Continue Shopping</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_cart" style="padding:10px 15px">
        Clear Cart
    </button>
    <a class="btn btn-primary" style="padding:10px 50px;float:right" href="{{ url_for('cart.checkout') }}">Checkout</a>
</div>

        <div class="modal fade" id="delete_cart" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal">Deleting Cart.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete all items in cart?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a type="button" class="btn btn-danger" href="{{ url_for('cart.deletecart') }}">Delete</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
